<div class="d-flex justify-content-center my-5">
    <div class="spinner-border loading-spinner text-primary" role="status">
        <span class="visually-hidden">Caricamento...</span>
    </div>
</div>